### Write a program to insert data into stud_marks table

In [1]:
import mysql.connector
from dotenv import load_dotenv
import os

load_dotenv()

cn=mysql.connector.connect(database= os.getenv('MYSQL_NAME'),
                   user= os.getenv('MYSQL_USER'),
                   password= os.getenv('MYSQL_PASSWORD'),
                   host= os.getenv('MYSQL_HOST'),
                   port= os.getenv('MYSQL_PORT'))

print("connection established...")

c=cn.cursor()
while True:
    rno=int(input("Rollno :"))
    name=input("Name :")
    s1=float(input("Sub1Marks :"))
    s2=float(input("Sub2Marks :"))
    s3=float(input("Sub3Marks :"))
    c.execute('''insert into stud_marks(rollno,name,
sub1,sub2,sub3) values(%s,%s,%s,%s,%s)''',params=(rno,name,s1,s2,s3))
    print("Student Created...")
    ans=input("Add another Student?")
    if ans=="no":
        cn.commit() # save changes
        break

cn.close()

connection established...
Student Created...
Student Created...